@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
    --color-first: #C0B5D7;
    --color-second: #494A78;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

a {
    color: var(--color-first);
    text-decoration-line: none;
}

a:hover, a:focus {
    color: 	#A897C8;
    text-decoration-line: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff;
}

.back {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.kitsu-back {
    border-radius: 5px;
    border: 2px solid rgba(112, 112, 112, 0.1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.kitsu-name {
    align-content: center;
    display: inline;
    padding: 1px;
    color: #fff;
    background: rgba(112, 112, 112, .5);
}

.kitsu-about {
    display: inline;
    color: #fff;
    background: rgba(112, 112, 112, .5);
}

/* Accordion CSS */

.accordion {
    background-color: #fff;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.accordion:hover {
    background: #fff;
}

.panel {
    border: none;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Bootstrap CSS */

.bg-light {
    background-color: #f8f9fa !important;
}

.navbar-default {
    background: linear-gradient(to right, var(--color-first), var(--color-second));
    font-size: 15px;
    border-color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f9f9f9;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .0), rgba(255, 255, 255, .3));
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, .5);
}

.navbar-brand {
    color: #fff!important;
    font-size: 19px;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, .5);
}

.navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, .5);
}

.navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, .5);
}